*.o
*.d
*.a
*.so
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
install-sh
jansson.pc
jansson_private_config.h
jansson_private_config.h.in
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/dump.lo
src/error.lo
src/hashtable.lo
src/hashtable_seed.lo
src/jansson_config.h
src/libjansson.la
src/load.lo
src/memory.lo
src/pack_unpack.lo
src/strbuffer.lo
src/strconv.lo
src/utf.lo
src/value.lo
test-driver
test/Makefile
test/Makefile.in
test/bin/.deps/
test/bin/Makefile
test/bin/Makefile.in
test/suites/Makefile
test/suites/Makefile.in
test/suites/api/.deps/
test/suites/api/Makefile
test/suites/api/Makefile.in
