*.a
*.la
*.lo
*.o
*.pc
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
include/Makefile
include/Makefile.in
include/event2/event-config.h
install-sh
libtool
ltmain.sh
m4/libtool.m4
missing
sample/.libs/
sample/Makefile
sample/Makefile.in
sample/dns-example
sample/event-test
sample/hello-world
sample/http-server
sample/le-proxy
sample/signal-test
sample/time-test
test-driver
test/.deps/
test/.libs/
test/Makefile
test/bench
test/bench_cascade
test/bench_http
test/bench_httpclient
test/regress
test/rpcgen-attempted
test/test-changelist
test/test-eof
test/test-init
test/test-ratelim
test/test-time
test/test-weof